@import "./variables";

@mixin flexbox($jus, $align, $direc) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-direction: $direc;
}

/// NAV-BAR ///

nav {
  width: 100vw;
  height: 5rem;
  @include flexbox(space-between, center, row);
  flex-wrap: wrap;
  background-color: $nav-background;
  color: $font-header;
  font-size: $f-header-size;
  position: fixed;

  .logo {
    width: 20vw;
    padding-left: 2rem;
    @include flexbox(center, center, row);

    .logo-icon {
      font-size: 2.5rem;
      color: #5e5ed8;
    }
  }

  .search-box {
    width: 50vw;
    height: 3.5rem;
    @include flexbox(space-evenly, center, row);
    background-color: $btn-background;
    border-radius: $border-radius;

    input {
      border: none;
      height: 2rem;
      width: 80%;
      color: $font-header;
      background-color: $btn-background;
      font-size: 1.5rem;
    }
    input:focus {
      outline: none;
    }

    .search-icon {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .right-mobile-menu {
    width: 20vw;
    @include flexbox(space-around, center, row);

    .user-icon {
      font-size: 1.7rem;
      cursor: pointer;
    }

    .user-icon:hover {
      color: $main-color;
    }

    .ham-menu {
      width: 2rem;
      height: 2rem;
      @include flexbox(center, center, row);
      cursor: pointer;
    }

    .center-line {
      width: 2rem;
      height: 3px;
      border-radius: $border-radius;
      background-color: $font-header;
      transition: all 0.2s ease-in-out;
      position: relative;
    }

    .center-line::after,
    .center-line::before {
      content: "";
      width: 2rem;
      height: 3px;
      border-radius: 5px;
      background-color: $font-header;
      position: absolute;
    }

    .center-line::before {
      transform: translateY(-0.65rem);
    }

    .center-line::after {
      transform: translateY(0.65rem);
    }
  }

  ///// NAV-MENU /////

  .nav-menu {
    list-style: none;
    @include flexbox(space-evenly, flex-start, column);
    width: 70vw;
    height: 100vh;
    background-color: $nav-background;
    position: fixed;
    top: 0;
    transition: 250ms ease-in-out;
  }

  .nav-menu-icon-close {
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
  }
  .nav-menu ul {
    width: 100%;
    list-style: none;

    .nav-link {
      text-decoration: none;
      color: $font-header;

      li {
        text-decoration: none;
        width: 100%;
        @include flexbox(flex-start, center, row);
        padding: 1.5rem 2em;
        cursor: pointer;
        // border-bottom: 1px solid $font-header;

        div {
          width: 4rem;
          margin-right: 1rem;
          @include flexbox(center, center, row);

          .nav-menu-icon {
            font-size: $f-header-size;
          }
        }

        a {
          color: $font-header;
          text-decoration: none;
        }
      }
    }

    li:hover {
      background-color: $main-background;
    }
  }
}

/// MAIN ///

/// PORTFOLIO ///

.portfolio-container {
  padding: 6rem 1rem;
}

.total {
  padding: 2rem;
  @include flexbox(center, center, row);

  p {
    font-size: 3rem;
  }

  .fiat {
    font-size: 2rem;
  }
}

.categories {
  width: 100%;
  padding: 0.7rem 0;
  @include flexbox(space-around, center, row);
  color: $font-header;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: right;

  .aaa {
    width: 25%;
    text-align: center;
  }
  p {
    width: 20%;
    text-align: right;
  }
}

.add-currency {
  width: 100%;
  padding: 0.6rem 0.6em;
  @include flexbox(space-between, center, row);
  margin: 0.5rem 0;
  font-size: 1.1rem;
  background: $list-background;
  // border: 1px solid $font-header;
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;
}
.add-input {
  width: 25%;
  height: 3.5rem;
  @include flexbox(space-evenly, center, row);
  background-color: $btn-background;
  border-radius: $border-radius;
  input {
    border: none;
    padding-left: 0.5rem;
    height: 2rem;
    width: 60%;
    color: $font-header;
    background-color: $btn-background;
    font-size: 1.5rem;
  }
  input:focus {
    outline: none;
  }

  .search-icon {
    padding-right: 0rem;
    color: $font-header;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.add {
  width: 10%;
  height: 3.2rem;
  @include flexbox(space-evenly, center, row);
  border: darkblue;
  background-color: $main-color;
  border-radius: $border-radius;
  color: $main-background;
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
}

.currency {
  width: 100%;
  height: 4.3rem;
  padding: 0.6rem 0.6em;
  @include flexbox(space-around, center, row);
  margin: 0.5rem 0;
  font-size: 1.1rem;
  background: $list-background;
  // border: 1px solid $font-header;
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;

  .currency-prop {
    width: 20%;
    text-align: right;
  }

  .cod-name-symbol {
    width: 25%;
    @include flexbox(flex-start, center, row);

    img {
      margin: 0;
      width: 2em;
    }

    .cod-name {
      width: 3rem;
      padding: 0 1em;
      text-align: left;
      text-transform: capitalize;
    }
  }
}

/// HOME ///

.home {
  height: 100vh;
  background: linear-gradient(rgba(130, 128, 131, 0.6), rgba(53, 53, 58, 0.7)),
    url(../img/banner-success.jpg) no-repeat fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  text-align: center;
  @include flexbox(flex-start, center, column);

  h1 {
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 2px;
    padding: 12rem 2rem 5rem 2rem;
  }

  p {
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 2rem 6rem 8rem 4rem;
  }
}
.btn-regist {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  width: 70vw;
  margin: 1.7rem 0;
  // font-size: 5rem;
  height: 5rem;
  background: $main-background;
  border: 3px solid $main-background;
  text-transform: capitalize;
  @include flexbox(center, center, row);
  border-radius: $border-radius;
  cursor: pointer;
}

.btn-regist:hover {
  background: rgb(24, 19, 26);
}
