@import "./variables";

@mixin flexbox($jus, $align, $direc) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-direction: $direc;
}

/// NAV-BAR ///

nav {
  // width: 100vw;
  height: 5rem;
  @include flexbox(space-between, center, row);
  flex-wrap: wrap;
  background-color: $nav-background;
  color: $font-header;
  position: relative;
  font-size: $f-header-size;

  .logo {
    width: 20vw;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 3rem;
  }

  .search-box {
    width: 50vw;
    height: 3.5rem;
    @include flexbox(space-evenly, center, row);
    background-color: $btn-background;
    border-radius: $border-radius;

    input {
      border: none;
      height: 2rem;
      width: 80%;
      color: $font-header;
      background-color: $btn-background;
      font-size: 1.5rem;
    }
    input:focus {
      outline: none;
    }

    .search-icon {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .right-mobile-menu {
    width: 20vw;
    @include flexbox(space-around, center, row);

    .user-icon {
      font-size: 2rem;
      cursor: pointer;
    }

    .ham-menu {
      width: 2rem;
      height: 2rem;
      @include flexbox(center, center, row);
      cursor: pointer;
    }

    .center-line {
      width: 2rem;
      height: 3px;
      border-radius: $border-radius;
      background-color: $font-header;
      transition: all 0.2s ease-in-out;
    }

    .center-line::after,
    .center-line::before {
      content: "";
      width: 2rem;
      height: 3px;
      border-radius: 5px;
      background-color: $font-header;
      position: absolute;
    }

    .center-line::before {
      transform: translateY(-0.65rem);
    }

    .center-line::after {
      transform: translateY(0.65rem);
    }
  }

  ///// NAV-MENU /////

  .nav-menu {
    list-style: none;
    @include flexbox(space-evenly, flex-start, column);
    width: 70vw;
    height: 100vh;
    background-color: $nav-background;
    position: fixed;
    top: 0;
    transition: 250ms ease-in-out;
  }

  .nav-menu-icon-close {
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 2.5rem;
    font-weight: 100;
    cursor: pointer;
  }
  .nav-menu ul {
    width: 100%;
    list-style: none;

    .nav-link {
      text-decoration: none;
      color: $font-header;

      li {
        text-decoration: none;
        width: 100%;
        @include flexbox(flex-start, center, row);
        padding: 1.5rem 2em;
        cursor: pointer;
        // border-bottom: 1px solid $font-header;

        div {
          width: 4rem;
          margin-right: 1rem;
          @include flexbox(center, center, row);

          .nav-menu-icon {
            font-size: $f-header-size;
          }
        }

        a {
          color: $font-header;
          text-decoration: none;
        }
      }
    }

    li:hover {
      background-color: $main-background;
    }
  }
}
