html {
  box-sizing: border-box;
  font-family: $font-fam;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  margin: 0 auto;
}

.app {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-size: $fsize;
  color: $font-main;
  background-color: $main-background;
}

li {
  list-style: none;
}
h1 {
  font-family: $font-fam2;
  font-weight: 100;
  font-size: 5rem;
  letter-spacing: 4px;
  text-align: center;
  line-height: 5.5rem;
  padding: 2rem 0;
}
h2 {
  font-family: $font-fam2;
  font-size: 3.5rem;
  letter-spacing: 3px;
  padding: 4rem 3rem;
  text-align: center;
  font-weight: 100;
}
h3 {
  padding: 4rem 0;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: justify;
  font-weight: 300;
}
p {
  color: $font-header;
  font-size: $fsize;
  letter-spacing: 2px;
  line-height: 2rem;

  text-align: justify;
  font-weight: 100;
}

main {
  width: 100%;
  min-height: calc(100vh - 8rem);
  padding: 0 2rem;
  display: flex;
  justify-content: center;

  // background-color: $main-background;
}
