@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap");

@mixin flexbox($jus, $align, $direc) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-direction: $direc;
}

@mixin main-gradient {
  background: #5a1f8b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    281deg,
    #420be6,
    #a16bb3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    281deg,
    #420be6,
    #a16bb3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

$border-radius: 24px;

/// FONTS ///
$font-fam: "lato", sans-serif;
$font-fam2: "lato", sans-serif;
$fsize: 1.5rem;
$f-header-size: 1.8rem;

/// COLORS ///
$main-color: #6c64e8;
$font-header: rgba(255, 255, 255, 0.5);
$font-main: #fff;
$nav-background: #181525;
$btn-background: rgb(54, 54, 54);
$main-background: rgb(31, 32, 51);
$list-background: rgb(25, 25, 45);
$light: #fff;
$link: #488bca;
$btn-light: rgb(92, 84, 88);
