@import "styles/variables";
@import "styles/resets";
@import "styles/btn";
@import "styles/navbar";
@import "styles/portfolio";
@import "styles/sign";

/// HOME ///

.home {
  height: 110vh;
  background: linear-gradient(rgba(95, 89, 97, 0.8), rgba(77, 71, 85, 0.7)),
    url(./img/banner-success.jpg) no-repeat fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0rem 3rem 0 3rem;
}

.container {
  height: 100%;
  text-align: center;
  @include flexbox(center, center, column);
}
.btn-regist {
  color: $main-background;
  height: 4.5rem;
  width: 80%;
  max-width: 30rem;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin: 3rem 0;
  text-transform: capitalize;
  @include main-gradient;
  @include flexbox(center, center, row);
  border-radius: $border-radius;
  cursor: pointer;
  &:hover,
  :focus,
  :active {
    opacity: 0.8;
    outline: none;
  }
}

.home-main {
  padding: 3rem 3rem 6rem 3rem;
}

/* Footer */

.footer {
  font-weight: 100;
  line-height: 1.5;
  // padding: 4rem 2.5rem 0rem 4rem;
  height: 40vh;
  background: $nav-background;
  padding: 4rem 3rem 0rem 6rem;
}

.footer-content {
  width: 100%;
  height: 80%;
  @include flexbox(space-between, flex-start, row);
  // display: flex;
  // justify-content: space-between;
}

.footer-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  @include flexbox(flex-start, flex-start, column);
}

.footer-col a:hover {
  text-decoration: underline;
}

.register-company {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  color: $font-header;
}
