@import "styles/variables";
@import "styles/resets";
@import "styles/btn";
@import "styles/navbar";
@import "styles/portfolio";
@import "styles/sign";

/// HOME ///

.home {
  height: 100vh;
  background: linear-gradient(rgba(95, 89, 97, 0.8), rgba(77, 71, 85, 0.7)),
    url(./img/banner-success.jpg) no-repeat fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  text-align: center;
  @include flexbox(flex-start, center, column);

  h1 {
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 2px;
    padding: 12rem 2rem 5rem 2rem;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 3px;
    padding: 2rem 2.5rem;
    text-align: center;
  }
  p {
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 2rem 6rem 8rem 4rem;
    text-align: justify;
  }
}
.btn-regist {
  font-weight: 500;
  font-size: 1.9rem;
  letter-spacing: 0.5rem;
  margin: 1.7rem 0;
  padding: 1.5rem 10rem;
  // font-size: 5rem;
  background: rgb(29, 23, 32);
  // @include main-gradient;
  border: 2px solid $main-background;
  text-transform: capitalize;
  @include flexbox(center, center, row);
  border-radius: $border-radius;
  cursor: pointer;
}

.btn-regist:hover {
  background: rgb(34, 25, 39);
}

h2 {
  font-size: 2rem;
  letter-spacing: 3px;
  padding: 2rem 2.5rem;
  text-align: center;
}
p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 2rem 3rem 6rem 3rem;
  text-align: justify;
}
/* Footer */

.footer {
  font-weight: 100;
  line-height: 1.5;
  padding: 4rem 2.5rem 0rem 4rem;
  height: 40vh;
}

.footer-content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer-col a:hover {
  text-decoration: underline;
}

.register-company {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $font-header;
}

.footer-col img {
  margin: 0 0.3rem;
  width: 1.2rem;
  height: 0.8rem;
}

.dropdown-menu img {
  margin: 0 0.3rem;
  width: 1.2rem;
  height: 0.8rem;
}

.lang-button {
  margin-top: 1.5rem;
  width: 10rem;
  height: 2rem;
  background-color: $font-main;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2px;
}

.lang-list {
  width: 10rem;
  height: 2rem;
  background-color: $font-main;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid $nav-background;
}

.dropdown-menu {
  position: relative;
}

.dropdown-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.openLangu {
  z-index: 0;
}

.dropdown-item {
  color: $nav-background;
}

.language {
  width: 70%;
  padding: 0.3rem 0;
}

.dropdown-language-icon {
  color: black;
  font-size: 1rem;
}
